[submodule "test/smurf/etna"]
	path = test/smurf/etna
	url = git@github.com:bringauto/etna.git
    branch = main
[submodule "lib/mission-module"]
	path = lib/mission-module
	url = git@github.com:bringauto/mission-module.git
