[Unit]
Description=Virtual vehicle service
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/root/virtual-vehicle-utility/
ExecStart=/root/virtual-vehicle-utility/bin/virtual-vehicle-utility --config=/root/virtual-vehicle-utility/config/example.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
